.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-0 {
  margin: 0 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-half {
  margin: 5px 5px !important; }

.mt-half {
  margin-top: 5px !important; }

.mr-half {
  margin-right: 5px !important; }

.mb-half {
  margin-bottom: 5px !important; }

.ml-half {
  margin-left: 5px !important; }

.mx-half {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.my-half {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.m-1 {
  margin: 10px 10px !important; }

.mt-1 {
  margin-top: 10px !important; }

.mr-1 {
  margin-right: 10px !important; }

.mb-1 {
  margin-bottom: 10px !important; }

.ml-1 {
  margin-left: 10px !important; }

.mx-1 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-onehalf {
  margin: 15px 15px !important; }

.mt-onehalf {
  margin-top: 15px !important; }

.mr-onehalf {
  margin-right: 15px !important; }

.mb-onehalf {
  margin-bottom: 15px !important; }

.ml-onehalf {
  margin-left: 15px !important; }

.mx-onehalf {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.my-onehalf {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-2 {
  margin: 20px 20px !important; }

.mt-2 {
  margin-top: 20px !important; }

.mr-2 {
  margin-right: 20px !important; }

.mb-2 {
  margin-bottom: 20px !important; }

.ml-2 {
  margin-left: 20px !important; }

.mx-2 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.my-2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-3 {
  margin: 30px 30px !important; }

.mt-3 {
  margin-top: 30px !important; }

.mr-3 {
  margin-right: 30px !important; }

.mb-3 {
  margin-bottom: 30px !important; }

.ml-3 {
  margin-left: 30px !important; }

.mx-3 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.my-3 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.m-4 {
  margin: 40px 40px !important; }

.mt-4 {
  margin-top: 40px !important; }

.mr-4 {
  margin-right: 40px !important; }

.mb-4 {
  margin-bottom: 40px !important; }

.ml-4 {
  margin-left: 40px !important; }

.mx-4 {
  margin-right: 40px !important;
  margin-left: 40px !important; }

.my-4 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.m-5 {
  margin: 50px 50px !important; }

.mt-5 {
  margin-top: 50px !important; }

.mr-5 {
  margin-right: 50px !important; }

.mb-5 {
  margin-bottom: 50px !important; }

.ml-5 {
  margin-left: 50px !important; }

.mx-5 {
  margin-right: 50px !important;
  margin-left: 50px !important; }

.my-5 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.p-0 {
  padding: 0 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-half {
  padding: 5px 5px !important; }

.pt-half {
  padding-top: 5px !important; }

.pr-half {
  padding-right: 5px !important; }

.pb-half {
  padding-bottom: 5px !important; }

.pl-half {
  padding-left: 5px !important; }

.px-half {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.py-half {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.p-1 {
  padding: 10px 10px !important; }

.pt-1 {
  padding-top: 10px !important; }

.pr-1 {
  padding-right: 10px !important; }

.pb-1 {
  padding-bottom: 10px !important; }

.pl-1 {
  padding-left: 10px !important; }

.px-1 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.py-1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-onehalf {
  padding: 15px 15px !important; }

.pt-onehalf {
  padding-top: 15px !important; }

.pr-onehalf {
  padding-right: 15px !important; }

.pb-onehalf {
  padding-bottom: 15px !important; }

.pl-onehalf {
  padding-left: 15px !important; }

.px-onehalf {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.py-onehalf {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-2 {
  padding: 20px 20px !important; }

.pt-2 {
  padding-top: 20px !important; }

.pr-2 {
  padding-right: 20px !important; }

.pb-2 {
  padding-bottom: 20px !important; }

.pl-2 {
  padding-left: 20px !important; }

.px-2 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.py-2 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-3 {
  padding: 30px 30px !important; }

.pt-3 {
  padding-top: 30px !important; }

.pr-3 {
  padding-right: 30px !important; }

.pb-3 {
  padding-bottom: 30px !important; }

.pl-3 {
  padding-left: 30px !important; }

.px-3 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.py-3 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.p-4 {
  padding: 40px 40px !important; }

.pt-4 {
  padding-top: 40px !important; }

.pr-4 {
  padding-right: 40px !important; }

.pb-4 {
  padding-bottom: 40px !important; }

.pl-4 {
  padding-left: 40px !important; }

.px-4 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.py-4 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.p-5 {
  padding: 50px 50px !important; }

.pt-5 {
  padding-top: 50px !important; }

.pr-5 {
  padding-right: 50px !important; }

.pb-5 {
  padding-bottom: 50px !important; }

.pl-5 {
  padding-left: 50px !important; }

.px-5 {
  padding-right: 50px !important;
  padding-left: 50px !important; }

.py-5 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.row-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }
  .row-flex--between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .row-flex--around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .row-flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .row-flex--end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .row-flex--middle {
    -ms-flex-align: center;
        align-items: center; }
  .row-flex--bottom {
    -ms-flex-align: end;
        align-items: flex-end; }
  .row-flex--top {
    -ms-flex-align: start;
        align-items: flex-start; }
  .row-flex--nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .row-flex--reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
  .row-flex--column {
    -ms-flex-direction: column;
        flex-direction: column; }
    .row-flex--column.row-flex--reverse {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?z0e6so");
  src: url("../fonts/icomoon.eot?z0e6so#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?z0e6so") format("truetype"), url("../fonts/icomoon.woff?z0e6so") format("woff"), url("../fonts/icomoon.svg?z0e6so#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #8ba0c0;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-calendar-next:before {
  content: "\e902"; }

.icon-calendar-prev:before {
  content: "\e903"; }

.icon-caret-left:before {
  content: "\e904"; }

.icon-caret-right:before {
  content: "\e905"; }

.icon-check:before {
  content: "\e906"; }

.icon-guests:before {
  content: "\e907"; }

.icon-menu:before {
  content: "\e908"; }

.icon-remove:before {
  content: "\e909"; }

html, body * {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #8BA0C0; }

h1, .h1 {
  font-size: 52px; }

h2, .h2 {
  font-size: 38px; }

h3, .h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px; }
  @media (max-width: 1379px) {
    h3, .h3 {
      font-size: 24px;
      line-height: 1.1; } }

h4, .h4 {
  font-size: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px; }

h5, .h5 {
  font-size: 22px; }

h6, .h6 {
  font-size: 18px;
  line-height: 22px; }

.text-small {
  font-size: 12px;
  line-height: 15px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-blue {
  color: #3787FF; }

.text-green {
  color: #00BB6B; }

.text-white {
  color: #fff; }

.text-dark {
  color: #3B495F; }

.text-light {
  color: #8BA0C0; }

.text-regular {
  font-weight: 500; }

.text-medium {
  font-weight: 600; }

.text-bold, strong, b {
  font-weight: 700; }

.text-overspaced {
  letter-spacing: 3px; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%; }
  html *,
  body * {
    box-sizing: border-box;
    vertical-align: middle; }

body {
  overflow: hidden; }

.container {
  padding: 0 60px;
  margin: 0 auto;
  width: 100%; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  height: 100%;
  overflow: hidden; }
  .wrapper .main {
    background: linear-gradient(180deg, #F7F8FA 0%, #F0F2F5 100%);
    width: calc(100% - 390px); }
    @media (max-width: 1379px) {
      .wrapper .main {
        width: calc(100% - 350px); } }
    @media (max-width: 991px) {
      .wrapper .main {
        width: 100%; } }
  .wrapper .sidebar {
    width: 390px;
    background: #fff; }
    @media (max-width: 1379px) {
      .wrapper .sidebar {
        width: 350px; } }
    @media (max-width: 991px) {
      .wrapper .sidebar {
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 6;
        width: 375px;
        transform: translateX(100%);
        transition: transform .3s ease-in-out; }
        .wrapper .sidebar.is-active {
          transform: none; } }
    @media (max-width: 767px) {
      .wrapper .sidebar {
        transform: none;
        position: fixed;
        bottom: 50px;
        left: 0;
        height: 50%;
        width: 100%;
        z-index: 3;
        transform: translateY(calc(100% + 50px)); }
        .wrapper .sidebar--fullscreen {
          bottom: 0;
          height: 100%;
          transform: translateY(100%);
          z-index: 6; } }
  .wrapper .guests,
  .wrapper .guests-btn {
    width: calc(100% - 390px); }
    @media (max-width: 1379px) {
      .wrapper .guests,
      .wrapper .guests-btn {
        width: calc(100% - 350px); } }
    @media (max-width: 991px) {
      .wrapper .guests,
      .wrapper .guests-btn {
        width: 100%; } }
  @media (max-width: 767px) {
    .wrapper .guests {
      z-index: 5;
      height: calc(50% + 50px); } }
  @media (max-width: 767px) {
    .wrapper .guests-btn {
      height: 50px; } }

img {
  max-width: 100%; }

@media (max-width: 767px) {
  .hidden-mob {
    display: none; } }

a, button {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
  color: inherit; }

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 36px;
  padding: 0 20px;
  border-radius: 36px; }
  .btn--lg {
    height: 44px;
    border-radius: 12px;
    padding: 0 40px; }
  .btn--transparent {
    transition: color .2s; }
    .btn--transparent:hover {
      color: #3B495F; }
    .btn--transparent.is-active {
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(51, 59, 72, 0.08);
      color: #3B495F; }
  .btn--green {
    background: #00BB6B;
    color: #fff; }
  .btn--text {
    transition: color .2s; }
    .btn--text .icon {
      transition: color .2s; }
    .btn--text:hover {
      color: #3B495F; }
      .btn--text:hover .icon {
        color: #3B495F; }
    .btn--text.is-active {
      color: #3B495F; }
      .btn--text.is-active .icon {
        color: #3B495F; }
  .btn--full {
    width: 100%;
    height: auto;
    border-radius: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 15px 0;
    min-height: 96px; }
    .btn--full h4 {
      margin-bottom: 4px; }
    @media (max-height: 795px) and (min-width: 992px) {
      .btn--full {
        min-height: 80px; } }
    @media (max-width: 767px) {
      .btn--full {
        min-height: 58px;
        padding: 5px 20px; }
        .btn--full h4, .btn--full .h4 {
          font-size: 14px;
          line-height: 17px; }
        .btn--full p {
          font-size: 12px;
          line-height: 15px; } }
  .btn--fullwidth {
    width: 100%; }

.btn-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center; }
  .btn-group > .btn {
    margin-right: 10px; }
    .btn-group > .btn:last-child {
      margin-right: 0; }
  .btn-group--column {
    -ms-flex-direction: column;
        flex-direction: column; }
    .btn-group--column > .btn {
      margin-right: 0;
      margin-bottom: 10px; }
      .btn-group--column > .btn:last-child {
        margin-bottom: 0; }

:root {
  --border-radius: 12px; }

@media screen and (max-width: 1099px) {
  :root {
    --border-radius: 8px; } }

@media screen and (max-width: 991px) {
  :root {
    --border-radius: 12px; } }

.calendar__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 25px 0; }
  @media (max-height: 795px) and (min-width: 992px) {
    .calendar__head {
      padding: 20px 0 15px; } }
  @media (max-width: 767px) {
    .calendar__head {
      padding: 15px 0; } }

.calendar__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px; }
  @media (max-width: 1379px) {
    .calendar__body {
      grid-gap: 6px; } }
  .calendar__body[data-startday="1"] > .calendar__day:first-child {
    -ms-grid-column: 1;
        grid-column-start: 1; }
  .calendar__body[data-startday="1"] > .calendar__day[data-selected="selected"]:nth-child(7n+7) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="1"] > .calendar__day[data-selected="selected"]:nth-child(7n+8) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="1"] > .calendar__day[data-selected="selected"]:nth-child(7n+8):before {
      display: none; }
  .calendar__body[data-startday="2"] > .calendar__day:first-child {
    -ms-grid-column: 2;
        grid-column-start: 2; }
  .calendar__body[data-startday="2"] > .calendar__day[data-selected="selected"]:nth-child(7n+6) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="2"] > .calendar__day[data-selected="selected"]:nth-child(7n+7) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="2"] > .calendar__day[data-selected="selected"]:nth-child(7n+7):before {
      display: none; }
  .calendar__body[data-startday="3"] > .calendar__day:first-child {
    -ms-grid-column: 3;
        grid-column-start: 3; }
  .calendar__body[data-startday="3"] > .calendar__day[data-selected="selected"]:nth-child(7n+5) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="3"] > .calendar__day[data-selected="selected"]:nth-child(7n+6) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="3"] > .calendar__day[data-selected="selected"]:nth-child(7n+6):before {
      display: none; }
  .calendar__body[data-startday="4"] > .calendar__day:first-child {
    -ms-grid-column: 4;
        grid-column-start: 4; }
  .calendar__body[data-startday="4"] > .calendar__day[data-selected="selected"]:nth-child(7n+4) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="4"] > .calendar__day[data-selected="selected"]:nth-child(7n+5) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="4"] > .calendar__day[data-selected="selected"]:nth-child(7n+5):before {
      display: none; }
  .calendar__body[data-startday="5"] > .calendar__day:first-child {
    -ms-grid-column: 5;
        grid-column-start: 5; }
  .calendar__body[data-startday="5"] > .calendar__day[data-selected="selected"]:nth-child(7n+3) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="5"] > .calendar__day[data-selected="selected"]:nth-child(7n+4) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="5"] > .calendar__day[data-selected="selected"]:nth-child(7n+4):before {
      display: none; }
  .calendar__body[data-startday="6"] > .calendar__day:first-child {
    -ms-grid-column: 6;
        grid-column-start: 6; }
  .calendar__body[data-startday="6"] > .calendar__day[data-selected="selected"]:nth-child(7n+2) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="6"] > .calendar__day[data-selected="selected"]:nth-child(7n+3) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="6"] > .calendar__day[data-selected="selected"]:nth-child(7n+3):before {
      display: none; }
  .calendar__body[data-startday="7"] > .calendar__day:first-child {
    -ms-grid-column: 7;
        grid-column-start: 7; }
  .calendar__body[data-startday="7"] > .calendar__day[data-selected="selected"]:nth-child(7n+1) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }
  .calendar__body[data-startday="7"] > .calendar__day[data-selected="selected"]:nth-child(7n+2) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }
    .calendar__body[data-startday="7"] > .calendar__day[data-selected="selected"]:nth-child(7n+2):before {
      display: none; }

.calendar__weekday {
  -ms-flex-preferred-size: calc(100% / 7);
      flex-basis: calc(100% / 7);
  text-align: center;
  font-size: 12px;
  line-height: 15px; }

.calendar__day {
  -ms-flex-preferred-size: calc(100% / 7);
      flex-basis: calc(100% / 7);
  min-width: 48px;
  height: 56px;
  border-radius: var(--border-radius);
  color: #3B495F;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  transition: background-color .2s; }
  @media (max-width: 1379px) {
    .calendar__day {
      padding-bottom: calc(100% - 1px);
      height: 0;
      min-width: 0; } }
  .calendar__day > span {
    color: inherit;
    font-weight: inherit;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 12px; }
    @media (max-width: 1379px) {
      .calendar__day > span {
        font-size: 1.317vw;
        line-height: 1.2; } }
    @media (max-width: 1199px) {
      .calendar__day > span {
        padding-bottom: 10px; } }
    @media (max-width: 991px) {
      .calendar__day > span {
        font-size: 2.09vw;
        padding-bottom: 25%; } }
    @media (max-width: 767px) {
      .calendar__day > span {
        font-size: 4.27vw; } }
    .calendar__day > span:after {
      content: attr(data-price);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      color: #8BA0C0;
      transition: .2s; }
      @media (max-width: 1379px) {
        .calendar__day > span:after {
          font-size: 0.9vw;
          line-height: 1.1;
          font-weight: 600; } }
      @media (max-width: 991px) {
        .calendar__day > span:after {
          font-size: 1.31vw; } }
      @media (max-width: 767px) {
        .calendar__day > span:after {
          font-size: 2.67vw; } }
  .calendar__day[data-status="current"] {
    background: #fff; }
  .calendar__day[data-activity="5"] {
    background: #3787FF;
    color: #fff; }
    .calendar__day[data-activity="5"] > span:after {
      color: #fff; }
  .calendar__day[data-activity="4"] {
    background: #5F9FFF;
    color: #fff; }
    .calendar__day[data-activity="4"] > span:after {
      color: #fff; }
  .calendar__day[data-activity="3"] {
    background: #87B7FF;
    color: #fff; }
    .calendar__day[data-activity="3"] > span:after {
      color: #fff; }
  .calendar__day[data-activity="2"] {
    background: #AFCFFF; }
    .calendar__day[data-activity="2"] > span:after {
      color: #6E84A5; }
  .calendar__day[data-activity="1"] {
    background: #D7E7FF; }
    .calendar__day[data-activity="1"] > span:after {
      color: #6E84A5; }
  .calendar__day[data-selected="selected"] {
    background: #00BB6B;
    color: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    position: relative; }
    .calendar__day[data-selected="selected"] > span:after {
      color: #fff; }
    .calendar__day[data-selected="selected"] + .calendar__day[data-selected="selected"] {
      background: #65d19d;
      position: relative;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .calendar__day[data-selected="selected"] + .calendar__day[data-selected="selected"]:before {
        content: '';
        position: absolute;
        right: calc(100% - 1px);
        top: 0;
        background: #65d19d;
        height: 100%;
        width: 10px;
        z-index: 2; }
        @media (max-width: 1379px) {
          .calendar__day[data-selected="selected"] + .calendar__day[data-selected="selected"]:before {
            width: 8px; } }
    .calendar__day[data-selected="selected"][data-position="single"] {
      border-radius: var(--border-radius); }
      .calendar__day[data-selected="selected"][data-position="single"]:after {
        display: none; }
    .calendar__day[data-selected="selected"][data-position="first"]:after {
      content: "\e903";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #00BB6B;
      position: absolute;
      right: calc(100% - 2px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 3; }
    .calendar__day[data-selected="selected"][data-position="last"] {
      border-bottom-right-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      background: #00BB6B !important; }
      .calendar__day[data-selected="selected"][data-position="last"]:after {
        content: "\e902";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #00BB6B;
        position: absolute;
        left: calc(100% - 2px);
        top: 50%;
        transform: translateY(-50%);
        z-index: 3; }
  .calendar__day:hover {
    background: #00BB6B;
    color: #fff; }
    .calendar__day:hover > span:after {
      color: #fff; }

.date-selector {
  border: 2px solid #D2D9E3;
  border-radius: 36px;
  height: 36px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center; }

.mark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #D2D9E3;
  transition: .2s; }
  @media (max-width: 767px) {
    .mark {
      width: 20px;
      height: 20px; }
      .mark .icon {
        font-size: 12px; } }
  .mark .icon {
    color: #fff; }
  .mark--check {
    background: #3787FF; }
  .mark--success {
    width: 100px;
    height: 100px;
    background: #00BB6B; }
    .mark--success .icon {
      font-size: 24px; }
  .mark:hover:not(.mark--success) {
    background: #3B495F; }

.apartment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%; }
  .apartment + .apartment {
    margin-top: 15px; }
  .apartment__info {
    min-width: 40px;
    width: 40px; }
    .apartment__info .icon-guests {
      margin-left: 3px; }
  .apartment__name {
    text-align: left; }
  .apartment__status {
    justify-self: flex-end;
    margin-left: auto;
    text-align: right; }
    @media (max-width: 767px) {
      .apartment__status {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; } }
    .apartment__status .btn--green {
      margin: -10px -20px 0 0; }
      @media (max-height: 795px) and (min-width: 992px) {
        .apartment__status .btn--green {
          margin-top: 0; } }
      @media (max-width: 767px) {
        .apartment__status .btn--green {
          margin-top: 0; } }
  .apartment--booked {
    -ms-flex-align: center;
        align-items: center; }
    .apartment--booked > .mark {
      margin-right: 18px; }

.free-rooms {
  padding: 25px 40px 25px 30px;
  border-top: 1px solid rgba(210, 217, 227, 0.4);
  max-height: 40vh;
  min-height: 300px;
  overflow: auto; }

.f-room {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 25px; }

.form-group + .form-group {
  margin-top: 15px; }

.form-label {
  margin-bottom: 8px;
  padding-left: 20px; }

.form-control {
  border: 2px solid #D2D9E3;
  border-radius: 12px;
  resize: none;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  color: #3B495F; }
  .form-control:focus {
    border-color: rgba(55, 135, 255, 0.8); }

textarea.form-control {
  height: 120px;
  padding: 15px 20px; }

.booking__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end; }

.booking__body {
  margin-top: 15px; }

.booking__room {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-bottom: 4px; }
  .booking__room:last-child {
    margin-bottom: 0; }
  .booking__room > * {
    -ms-flex: 2;
        flex: 2;
    text-align: right;
    font-size: 12px;
    line-height: 15px; }
    .booking__room > *:first-child {
      text-align: left;
      -ms-flex: 3;
          flex: 3; }

.booking + .btn-group {
  margin-top: 23px; }

.confirmation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }
  .confirmation .mark + h4 {
    margin-top: 15px; }

.add-action {
  padding: 0 30px; }
  .add-action__head {
    position: relative;
    text-align: center; }
  .add-action__btn {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 0;
    height: auto; }
  .add-action__close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: none; }
  .add-action__content {
    display: none;
    padding: 15px 0; }
    .add-action__content .btn {
      margin: 0; }
  .add-action.is-active .add-action__head {
    border-bottom: 1px solid #D2D9E3; }
  .add-action.is-active .add-action__close {
    display: block; }
  .add-action.is-active .add-action__content {
    display: block; }

.mobile-nav {
  position: fixed;
  height: 100%;
  width: 300px;
  background: #fff;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out; }
  .mobile-nav:after {
    content: '';
    position: fixed;
    top: 0;
    left: 300px;
    background: rgba(59, 73, 95, 0.48);
    width: 100vw;
    height: 100vh; }
  .mobile-nav.is-active {
    transform: none;
    opacity: 1;
    visibility: visible; }
  .mobile-nav__head {
    height: 70px;
    border-bottom: 1px solid #D2D9E3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px; }
  .mobile-nav__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    padding: 20px;
    -ms-flex: 1;
        flex: 1; }
    .mobile-nav__body > .btn {
      padding: 0;
      margin-bottom: 10px; }
  .mobile-nav__footer {
    height: 70px;
    border-top: 1px solid #D2D9E3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px; }
    .mobile-nav__footer > .btn {
      padding: 0; }

.header {
  padding: 0 60px;
  border-bottom: 1px solid #D2D9E3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 1439px) {
    .header {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .header {
      border-bottom: 0;
      padding: 20px; } }
  @media (max-width: 767px) {
    .header__logo {
      display: none; } }
  .header__burger {
    display: none;
    padding-left: 0; }
    @media (max-width: 767px) {
      .header__burger {
        display: block; } }
    .header__burger .icon {
      margin-right: 12px; }
  .header__nav {
    margin-bottom: -1px; }
    @media (max-width: 767px) {
      .header__nav {
        display: none; } }
    .header__nav--mobile {
      display: none; }
      .header__nav--mobile > .btn {
        padding-right: 0; }
      @media (max-width: 767px) {
        .header__nav--mobile {
          display: block; } }
  .header__link {
    transition: color .2s;
    padding: 0 20px;
    height: 70px; }
    @media (max-height: 795px) and (min-width: 992px) {
      .header__link {
        height: 50px; } }
    @media (max-width: 1199px) {
      .header__link {
        height: 50px;
        padding: 0 10px; } }
    .header__link:hover {
      color: #3B495F; }
    .header__link.is-active {
      border-bottom: 1px solid #000;
      color: #3B495F; }

.dashboard {
  padding: 30px 60px;
  max-height: calc(100% - 140px);
  overflow-y: auto; }
  @media (max-height: 795px) and (min-width: 992px) {
    .dashboard {
      padding-top: 20px;
      max-height: calc(100% - 100px); } }
  @media (max-width: 1439px) {
    .dashboard {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 991px) {
    .dashboard {
      padding-top: 20px;
      max-height: calc(100% - 120px); } }
  @media (max-width: 767px) {
    .dashboard {
      padding: 0 20px 50px;
      max-height: calc(100% - 126px); } }
  .dashboard__type {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 30px; }
    @media (max-height: 795px) and (min-width: 992px) {
      .dashboard__type {
        margin-bottom: 20px; } }
    @media (max-width: 991px) {
      .dashboard__type {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .dashboard__type {
        display: none; } }
    .dashboard__type .year-number {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      justify-self: flex-end;
      margin-left: auto; }
  .dashboard__period {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
    margin-bottom: 15px; }
    @media (max-height: 795px) and (min-width: 992px) {
      .dashboard__period {
        margin-bottom: 5px; } }
    @media (max-width: 991px) {
      .dashboard__period {
        margin-bottom: 5px; } }
    @media (max-width: 767px) {
      .dashboard__period > .btn {
        display: none; } }
    .dashboard__period .p-range {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-direction: row;
          flex-direction: row;
      overflow-x: auto;
      padding: 0 0 16px 0;
      transition: .3s;
      scroll-behavior: smooth;
      -ms-overflow-style: none; }
      .dashboard__period .p-range::-webkit-scrollbar {
        display: none; }
      .dashboard__period .p-range > .btn.is-active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
        .dashboard__period .p-range > .btn.is-active ~ .btn.is-active {
          border-top-right-radius: 36px;
          border-bottom-right-radius: 36px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          box-shadow: 16px 4px 16px rgba(51, 59, 72, 0.08); }
  .dashboard__view[data-view="month"] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .dashboard__view[data-view="month"] .month {
      -ms-flex: 1;
          flex: 1; }
      @media (max-width: 767px) {
        .dashboard__view[data-view="month"] .month__title {
          display: none; } }
    @media (max-width: 1379px) {
      .dashboard__view[data-view="month"] {
        grid-gap: 30px; } }
    @media (max-width: 767px) {
      .dashboard__view[data-view="month"] {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
  .dashboard__view[data-view="year"] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 15px; }
    @media (max-width: 1439px) {
      .dashboard__view[data-view="year"] {
        grid-column-gap: 30px; } }
    @media (max-width: 1199px) {
      .dashboard__view[data-view="year"] {
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px; } }
    .dashboard__view[data-view="year"] .month__title {
      font-size: 18px;
      line-height: 22px;
      color: #3B495F; }
    .dashboard__view[data-view="year"] .calendar__head {
      padding-top: 4px; }
    .dashboard__view[data-view="year"] .calendar__body {
      grid-gap: 3px; }
    .dashboard__view[data-view="year"] .calendar__day {
      min-width: 0;
      height: 0;
      padding-bottom: calc(100% - 1px); }
      @media (max-width: 1500px) {
        .dashboard__view[data-view="year"] .calendar__day {
          border-radius: 6px; } }
      .dashboard__view[data-view="year"] .calendar__day > span {
        padding-bottom: 0;
        font-size: 0.695vw;
        line-height: 1; }
        @media (max-width: 991px) {
          .dashboard__view[data-view="year"] .calendar__day > span {
            font-size: 12px; } }
        .dashboard__view[data-view="year"] .calendar__day > span:after {
          display: none; }

.guests {
  padding: 30px 60px;
  border-top: 1px solid #D2D9E3;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, #F7F8FA 0%, #F0F2F5 100%);
  transform: translateY(100%);
  transition: transform .3s; }
  @media (max-width: 767px) {
    .guests {
      padding: 5px 20px 20px; } }
  .guests.is-active {
    transform: translateY(0); }
  .guests__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .guests__head {
        -ms-flex-align: end;
            align-items: flex-end;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .guests__type .btn--transparent {
      padding: 0;
      margin-right: 15px; }
      .guests__type .btn--transparent:last-child {
        margin-right: 0; }
      .guests__type .btn--transparent.is-active {
        background: transparent;
        box-shadow: none; } }
  .guests__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto; }
    @media (max-width: 767px) {
      .guests__body {
        -ms-flex-direction: column;
            flex-direction: column;
        overflow: auto;
        max-height: calc(100% - 70px); } }

.guest {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  min-height: 108px;
  width: 200px;
  min-width: 200px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(51, 59, 72, 0.08);
  border-radius: 12px;
  margin-right: 20px;
  padding: 16px 20px;
  position: relative;
  cursor: pointer;
  transition: .2s; }
  @media (max-width: 767px) {
    .guest {
      margin-bottom: 10px;
      width: 100%;
      min-height: 69px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row; } }
  .guest:last-child {
    margin-right: 0; }
  .guest__room {
    color: #3787FF;
    margin-bottom: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .guest__room {
        width: 65%;
        margin-bottom: 0; } }
  .guest__term {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .guest__term {
        -ms-flex-order: 3;
            order: 3;
        font-size: 12px;
        margin-top: 4px; } }
  .guest__name {
    justify-self: flex-end;
    margin: auto 0 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .guest__name {
        -ms-flex-order: 2;
            order: 2;
        justify-self: flex-start;
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-left: auto;
        font-size: 12px;
        width: 30%;
        text-align: right; } }
  .guest--checked {
    background: transparent;
    border: 2px solid #D2D9E3;
    box-shadow: none; }
    @media (max-width: 767px) {
      .guest--checked {
        padding-left: 44px; } }
    .guest--checked .guest__name {
      padding-right: 24px; }
      @media (max-width: 767px) {
        .guest--checked .guest__name {
          padding-right: 0; } }
    .guest--checked:after {
      content: "\e906";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 24px;
      height: 24px;
      background: #3787FF;
      border-radius: 50%;
      color: #fff;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      position: absolute;
      right: 12px;
      bottom: 16px;
      transition: .2s; }
      @media (max-width: 767px) {
        .guest--checked:after {
          width: 18px;
          height: 18px;
          font-size: 12px;
          right: auto;
          left: 15px;
          bottom: auto;
          top: 15px; } }
  .guest.is-active {
    background: #00BB6B; }
    .guest.is-active > * {
      color: #fff; }
  .guest:hover {
    background: #00BB6B; }
    .guest:hover > * {
      color: #fff; }
    .guest:hover.guest--checked {
      background: #3787FF;
      border-color: #3787FF; }
      .guest:hover.guest--checked:after {
        background: #fff;
        color: #3787FF; }

.guests-btn {
  border-top: 1px solid #D2D9E3;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, #F7F8FA 0%, #F0F2F5 100%);
  border-radius: 0;
  height: 70px;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 0 60px; }
  @media (max-height: 795px) and (min-width: 992px) {
    .guests-btn {
      height: 50px; } }
  @media (max-width: 1439px) {
    .guests-btn {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .guests-btn {
      height: 50px;
      z-index: 5; } }

.guests-close-btn {
  padding-left: 0; }
  @media (max-width: 767px) {
    .guests-close-btn {
      margin-right: 100%; } }

.sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .sidebar__head {
    padding: 30px 30px 20px;
    border-bottom: 1px solid rgba(210, 217, 227, 0.4);
    min-height: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-height: 795px) and (min-width: 992px) {
      .sidebar__head {
        padding: 20px 30px;
        min-height: 100px; } }
    @media (max-width: 767px) {
      .sidebar__head {
        padding: 15px 20px;
        min-height: 0;
        -ms-flex-order: 2;
            order: 2; }
        .sidebar__head h3, .sidebar__head .h3 {
          font-size: 16px;
          line-height: 1.1; }
          .sidebar__head h3 > .btn, .sidebar__head .h3 > .btn {
            height: auto; }
        .sidebar__head p {
          font-size: 14px; } }
    .sidebar__head--back h3, .sidebar__head--back .h3 {
      display: -ms-flexbox;
      display: flex; }
    .sidebar__head--back .sidebar__info {
      padding-left: 37px; }
    .sidebar__head--back .btn {
      padding-left: 0; }
  .sidebar__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .sidebar__info > * {
      margin-top: 8px;
      font-size: 18px;
      line-height: 22px;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
      @media (max-width: 767px) {
        .sidebar__info > * {
          margin-top: 2px; } }
  .sidebar__body {
    -ms-flex: 1;
        flex: 1;
    overflow-y: auto; }
    @media (max-width: 767px) {
      .sidebar__body {
        -ms-flex-order: 3;
            order: 3; } }
  @media (max-width: 767px) {
    .sidebar__footer {
      -ms-flex-order: 1;
          order: 1; } }
  .sidebar__row {
    min-height: 84px;
    padding: 25px 30px;
    border-bottom: 1px solid rgba(210, 217, 227, 0.4);
    position: relative;
    margin-top: -1px;
    width: 100%; }
    @media (max-height: 795px) and (min-width: 992px) {
      .sidebar__row {
        padding: 20px 30px;
        min-height: auto; } }
    @media (max-width: 767px) {
      .sidebar__row {
        padding: 20px; } }
    .sidebar__row > .text-dark + .text-small {
      margin-top: 15px; }
    .sidebar__row--apartment {
      padding: 30px 40px 18px 30px; }
      @media (max-height: 795px) and (min-width: 992px) {
        .sidebar__row--apartment {
          padding-top: 20px;
          padding-bottom: 20px; } }
      @media (max-width: 767px) {
        .sidebar__row--apartment {
          padding-top: 15px;
          padding-bottom: 15px;
          min-height: 0; } }
    .sidebar__row[data-status]:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%; }
    .sidebar__row[data-status="active"]:before {
      background-color: #00BB6B; }
    .sidebar__row[data-status="booked"]:before {
      background-color: #3787FF; }
  @media (max-width: 767px) {
    .sidebar--fullscreen .sidebar__head {
      -ms-flex-order: 1;
          order: 1; }
      .sidebar--fullscreen .sidebar__head h3, .sidebar--fullscreen .sidebar__head .h3 {
        font-size: 24px; }
    .sidebar--fullscreen .sidebar__body {
      -ms-flex-order: 2;
          order: 2; }
    .sidebar--fullscreen .sidebar__footer {
      -ms-flex-order: 3;
          order: 3; } }
