.dashboard {
  padding: 30px 60px 80px;
  max-height: calc(100% - 80px);
  overflow-y: auto;
  @media (max-height: 795px) and (min-width: 992px) {
    padding-top: 20px;
    padding-bottom: 50px;
    max-height: calc(100% - 60px);
  }
  @media (max-width: 1439px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 991px) {
    padding-top: 20px;
  }
  @media (max-width: 767px) {
    padding: 0 20px 50px;
  }
  &__type {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 30px;
    @media (max-height: 795px) and (min-width: 992px) {
      margin-bottom: 20px;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__period {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    @media (max-height: 795px) and (min-width: 992px) {
      margin-bottom: 5px;
    }
    @media (max-width: 991px) {
      margin-bottom: 5px;
    }

    & > .btn {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .p-range {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: auto;
      padding: 0 0 16px 0;
      transition: .3s;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      & > .btn.is-active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        & ~ .btn.is-active {
          border-top-right-radius: 36px;
          border-bottom-right-radius: 36px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          box-shadow: 16px 4px 16px rgba(51, 59, 72, 0.08);
        }
      }
    }
  }

  &__view {
    &[data-view="month"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      flex-wrap: nowrap;
      .month {
        flex: 1;
        &__title {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      @media (max-width: 1379px) {
        grid-gap: 30px;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
  }
}