.dashboard {
  padding: 30px 60px;
  &__type {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 30px;
  }

  &__period {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;

    .p-range {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: auto;
      padding: 0 0 16px 0;
      transition: .3s;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      & > .btn.is-active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        & ~ .btn.is-active {
          border-top-right-radius: 36px;
          border-bottom-right-radius: 36px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          box-shadow: 16px 4px 16px rgba(51, 59, 72, 0.08);
        }
      }
    }
  }

  &__view {
    &[data-view="month"] {
      display: grid;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      flex-wrap: nowrap;
      & > .month {
        flex: 1;
      }
    }
  }
}