.dashboard {
  padding: 30px 60px;
  max-height: calc(100% - 140px);
  overflow-y: auto;
  @media (max-height: 795px) and (min-width: 992px) {
    padding-top: 20px;
    max-height: calc(100% - 100px);
  }
  @media (max-width: 1439px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 991px) {
    padding-top: 20px;
    max-height: calc(100% - 120px);
  }
  @media (max-width: 767px) {
    padding: 0 20px 50px;
    max-height: calc(100% - 126px);
  }
  &__type {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 30px;
    @media (max-height: 795px) and (min-width: 992px) {
      margin-bottom: 20px;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      display: none;
    }
    .self-right {
      align-self: center;
      justify-self: flex-end;
      margin-left: auto;
    }
  }

  &__period {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    @media (max-height: 795px) and (min-width: 992px) {
      margin-bottom: 5px;
    }
    @media (max-width: 991px) {
      margin-bottom: 5px;
    }

    & > .btn {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .p-range {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: auto;
      padding: 0 0 16px 0;
      transition: .3s;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      & > .btn.is-active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        & ~ .btn.is-active {
          border-top-right-radius: 36px;
          border-bottom-right-radius: 36px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          box-shadow: 16px 4px 16px rgba(51, 59, 72, 0.08);
        }
      }
    }
  }

  &__view {
    &[data-view="week"] {
      padding-right: 35px;
    }

    &[data-view="month"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      flex-wrap: nowrap;
      .month {
        flex: 1;
        &__title {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      @media (max-width: 1379px) {
        grid-gap: 30px;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    &[data-view="year"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 60px;
      grid-row-gap: 15px;
      @media (max-width: 1439px) {
        grid-column-gap: 30px;
      }
      @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
      }
      .month {
        &__title {
          font-size: 18px;
          line-height: 22px;
          color: $c-text;
        }
      }
      .calendar {
        &__head {
          padding-top: 4px;
        }
        &__body {
          grid-gap: 3px;
        }
        &__day {
          min-width: 0;
          height: 0;
          padding-bottom: calc(100% - 1px);
          @media (max-width: 1500px) {
            border-radius: 6px;
          }
          & > span{
            padding-bottom: 0;
            font-size: 0.695vw;
            line-height: 1;
            @media (max-width: 991px) {
              font-size: 12px;
            }
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}