.guests {
  padding: 30px 60px;
  border-top: 1px solid $c-border;

  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__type {
    
  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}


.guest {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 108px;
  width: 200px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(51, 59, 72, 0.08);
  border-radius: 12px;
  margin-right: 20px;
  padding: 16px 20px;
  position: relative;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &__room {
    color: $c-blue;
    margin-bottom: 2px;
    @include truncate();
  }
  &__term {
    @include truncate();
  }
  &__name {
    justify-self: flex-end;
    margin: auto 0 0;
    @include truncate();
  }

  &--checked {
    background: transparent;
    border: 2px solid $c-border;
    box-shadow: none;
    .guest__name {
      padding-right: 24px;
    }
    &:after {
      content: "\e906";
      @include icomoon();
      width: 24px;
      height: 24px;
      background: $c-blue;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 12px;
      bottom: 16px;
    }
  }

  &.is-active {
    background: $c-green;
    & > * {
      color: #fff;
    }
  }
}