.header {
  height: 70px;
  padding: 0 60px;
  border-bottom: 1px solid $c-border;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}