.header {
  padding: 0 60px;
  border-bottom: 1px solid $c-border;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__nav {
    margin-bottom: -1px;
  }

  &__link {
    transition: color .2s;
    padding: 0 20px;
    height: 70px;
    &:hover {
      color: $c-text;
    }
    &.is-active {
      border-bottom: 1px solid #000;
      color: $c-text;
    }
  }
}