.header {
  padding: 0 60px;
  border-bottom: 1px solid $c-border;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1439px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 767px) {
    border-bottom: 0;
    padding: 20px;
  }

  &__logo {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__burger {
    display: none;
    padding-left: 0;
    @media (max-width: 767px) {
      display: block;
    }
    .icon {
      margin-right: 12px;
    }
  }

  &__nav {
    margin-bottom: -1px;
    @media (max-width: 767px) {
      display: none;
    }
    &--mobile {
      & > .btn {
        padding-right: 0;
      }
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
  }

  &__link {
    transition: color .2s;
    padding: 0 20px;
    height: 70px;
    @media (max-height: 795px) and (min-width: 992px) {
      height: 50px;
    }
    @media (max-width: 1199px) {
      height: 50px;
      padding: 0 10px;
    }
    &:hover {
      color: $c-text;
    }
    &.is-active {
      border-bottom: 1px solid #000;
      color: $c-text;
    }
  }
}