.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__head {
    padding: 30px 30px 20px;
    border-bottom: 1px solid rgba($c-border, .4);
    min-height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    @media (max-height: 795px) and (min-width: 992px) {
      padding: 20px 30px;
      min-height: 100px;
    }
    @media (max-width: 767px) {
      padding: 15px 20px;
      min-height: 0;
      order: 2;
      h3, .h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    } 
    &--back {
      h3, .h3 {
        display: flex;
      }
      .sidebar__info {
        padding-left: 37px;
      }
      .btn {
        padding-left: 0;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-top: 8px;
      font-size: 18px;
      line-height: 22px;
      flex-basis: auto;
      @media (max-width: 767px) {
        margin-top: 2px;
      }
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    @media (max-width: 767px) {
      order: 3;
    }
  }

  &__footer {
    @media (max-width: 767px) {
      order: 1;
    }
  }

  &__row {
    min-height: 84px;
    padding: 25px 30px;
    border-bottom: 1px solid rgba($c-border, .4);
    position: relative;
    margin-top: -1px;
    width: 100%;
    @media (max-height: 795px) and (min-width: 992px) {
      padding: 20px 30px;
      min-height: auto;
    }

    & > .text-dark {
      & + .text-small {
        margin-top: 15px;
      }
    }

    &--apartment {
      padding: 30px 40px 18px 30px;
      @media (max-height: 795px) and (min-width: 992px) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        min-height: 0;
        
      }
    }

    &[data-status]:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
    }
    &[data-status="active"]:before { background-color: $c-green; }
    &[data-status="booked"]:before { background-color: $c-blue; }
  }
}