html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    * {
        box-sizing: border-box;
        vertical-align: middle;
    }
}

body {
    overflow: hidden;
}

//container
.container {
    padding: 0 60px;
    margin: 0 auto;
    width: 100%;
}
//end container


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    
    .main {
        background: linear-gradient(180deg, #F7F8FA 0%, #F0F2F5 100%);
        width: calc(100% - 390px);
        @media (max-width: 1379px) {
            width: calc(100% - 350px);
        }
        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .sidebar {
        width: 390px;
        background: #fff;
        @media (max-width: 1379px) {
            width: 350px;
        }
        @media (max-width: 991px) {
            transform: translateX(100%);
            &.is-active {
                transform: none;
            }
        }
        @media (max-width: 767px) {
            transform: none;
            position: fixed;
            bottom: 50px;
            left: 0;
            height: 50%;
            width: 100%;
            z-index: 3;
            transform: translateY(calc(100% + 50px));
        }
    }
    
    .guests,
    .guests-btn {
        width: calc(100% - 390px);
        @media (max-width: 1379px) {
            width: calc(100% - 350px);
        }
        @media (max-width: 991px) {
            width: 100%;
        }
    }
    .guests {
        @media (max-width: 767px) {
            z-index: 5;
            height: calc(50% + 50px);
        }
    }
    .guests-btn {
        @media (max-width: 767px) {
            height: 50px;
        }
    }
}

img {
    max-width: 100%;
}

// extra classes 
.hidden-mob {
    @media (max-width: 767px) {
        display: none;
    }
}