
// Colors
$c-border: #D2D9E3;

$c-text: #3B495F;
$c-text-light: #8BA0C0;

$c-green: #00BB6B;
$c-orange: #FEC602;

$c-blue: #3787FF;
$c-blue-80: #5F9FFF;
$c-blue-60: #87B7FF;
$c-blue-40: #AFCFFF;
$c-blue-20: #D7E7FF;