// Margin and Padding
.mx-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

//== Spacer
$spacer:   10px;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        'half': (
                x: $spacer-x/2,
                y: $spacer-y/2
        ),
        1: (
                x: $spacer-x,
                y: $spacer-y
        ),
        'onehalf': (
                x: ($spacer-x * 1.5),
                y: ($spacer-y * 1.5)
        ),
        2: (
                x: ($spacer-x * 2),
                y: ($spacer-y * 2)
        ),
        3: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        ),
        4: (
                x: ($spacer-x * 4),
                y: ($spacer-y * 4)
        ),
        5: (
                x: ($spacer-x * 5),
                y: ($spacer-y * 5)
        )
);


// Spacers static
// my - vertical space
// mx - horizontal
// mt, mr, mb, ml with a number of space like 'mr-2 mb-4 mt-onehalf'
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}



// // Responsive spacers
// // use like class 'mb-2-sm mb-0-md'
// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     @each $prop, $abbrev in (margin: m, padding: p) {
//       @each $size, $lengths in $spacers {
//         $length-x:   map-get($lengths, x);
//         $length-y:   map-get($lengths, y);

//         .#{$abbrev}-#{$size}-#{$breakpoint} { #{$prop}:        $length-y $length-x !important; } // a = All sides
//         .#{$abbrev}t-#{$size}-#{$breakpoint} { #{$prop}-top:    $length-y !important; }
//         .#{$abbrev}r-#{$size}-#{$breakpoint} { #{$prop}-right:  $length-x !important; }
//         .#{$abbrev}b-#{$size}-#{$breakpoint} { #{$prop}-bottom: $length-y !important; }
//         .#{$abbrev}l-#{$size}-#{$breakpoint} { #{$prop}-left:   $length-x !important; }

//         // Axes
//         .#{$abbrev}x-#{$size}-#{$breakpoint} {
//           #{$prop}-right:  $length-x !important;
//           #{$prop}-left:   $length-x !important;
//         }
//         .#{$abbrev}y-#{$size}-#{$breakpoint} {
//           #{$prop}-top:    $length-y !important;
//           #{$prop}-bottom: $length-y !important;
//         }
//       }
//     }
//   }
// }