.apartment {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  & + & {
    margin-top: 15px;
  }

  &__info {
    width: 40px;
    .icon-guests {
      margin-left: 3px;
    }
  }
  &__name {
    text-align: left;
  }
  &__status {
    justify-self: flex-end;
    margin-left: auto;
    text-align: right;
    .btn--green {
      margin: -10px -20px 0 0;
      @media (max-height: 795px) and (min-width: 992px) {
        margin-top: 0;
      }
    }
  }

  &--booked {
    align-items: center;
    & > .mark {
      margin-right: 18px;
    }
  }
}