a, button {
 text-decoration: none;
 outline: none;
 box-shadow: none;
 border: none;
 background: none;
 color: inherit;
}

.btn {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 20px;
  border-radius: 36px;
  &--transparent {
    transition: color .2s;
    &:hover {
      color: $c-text;
    }
    &.is-active {
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(51, 59, 72, 0.08);
      color: $c-text;
    }
  }

  &--green {
    background: $c-green;
    color: #fff;
  }

  &--text {
    transition: color .2s;
    .icon {
      transition: color .2s;
    }
    &:hover {
      color: $c-text;
      .icon {
        color: $c-text;
      }
    }
  }

  &--full {
    width: 100%;
    height: auto;
    border-radius: 0;
    flex-direction: column;
    padding: 15px 0;
    h4 {
      margin-bottom: 4px;
    }
  }
}