a, button {
 text-decoration: none;
 outline: none;
 box-shadow: none;
 border: none;
 background: none;
 color: inherit;
}

.btn {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 20px;
  border-radius: 36px;
  &--lg {
    height: 44px;
    border-radius: 12px;
    padding: 0 40px;
  }

  &--transparent {
    transition: color .2s;
    &:hover {
      color: $c-text;
    }
    &.is-active {
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(51, 59, 72, 0.08);
      color: $c-text;
    }
  }

  &--green {
    background: $c-green;
    color: #fff;
  }

  &--text {
    transition: color .2s;
    .icon {
      transition: color .2s;
    }
    &:hover {
      color: $c-text;
      .icon {
        color: $c-text;
      }
    }
    &.is-active {
      color: $c-text;
      .icon {
        color: $c-text;
      }
    }
  }

  &--full {
    width: 100%;
    height: auto;
    border-radius: 0;
    flex-direction: column;
    padding: 15px 0;
    min-height: 96px;
    h4 {
      margin-bottom: 4px;
    }
    @media (max-height: 795px) and (min-width: 992px) {
      min-height: 80px;
    }
    @media (max-width: 767px) {
      min-height: 58px;
      padding: 5px 20px;
      h4, .h4 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  &--fullwidth {
    width: 100%;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  & > .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &--column {
    flex-direction: column;
    & > .btn {
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}