.date-selector {
  border: 2px solid $c-border;
  border-radius: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  & > span {
    flex: 1;
    text-align: center;
  }

  .visible-mob & {
    margin-bottom: 17px;
  }
}