.mark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $c-border;
  transition: .2s;
  .icon {
    color: #fff;
  }
  &--check {
    background: $c-blue;
  }
  &--success {
    width: 100px;
    height: 100px;
    background: $c-green;
    .icon {
      font-size: 24px;
    }
  }
  &:hover:not(.mark--success) {
    background: $c-text;
  }
}