.mobile-nav {
    position: fixed;
    height: 100%;
    width: 300px;
    background: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 300px;
        background: rgba(#3B495F, .48);
        width: 100vw;
        height: 100vh;
    }

    &.is-active {
        transform: none;
        opacity: 1;
        visibility: visible;
    }

    &__head {
        height: 70px;
        border-bottom: 1px solid $c-border;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex: 1;
        & > .btn {
            padding: 0;
            margin-bottom: 10px;
        }
    }

    &__footer {
        height: 70px;
        border-top: 1px solid $c-border;
        display: flex;
        align-items: center;
        padding: 0 20px;
        & > .btn {
            padding: 0;
        }
    }


}