.week {
    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        & > * {
            flex: 1;
            transition: color .3s;
            border-width: 1px;
            border-right-style: solid;
            border-color: $c-border;
            margin-left: -2px;
            padding: 4px 0;
        }
        &:first-child {
            & > * { border-image: linear-gradient(to top, $c-border, rgba(0, 0, 0, 0)) 1 100%; }
        }
        &:last-child {
            & > * { border-image: linear-gradient(to bottom, $c-border, rgba(0, 0, 0, 0)) 1 100%; }
        }
        &:before {
            content: attr(data-name);
            width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: color .3s;
        }
        &--dates {
            align-items: flex-start;
            & > *:not(.btn) {
                padding-top: 0;
                padding-bottom: 45px;
                text-align: center;
            }
            .btn {
                position: absolute;
                border: none;
                height: 18px;
                padding: 0 10px;
                &.week__btn-prev {
                    right: calc(100% - 120px);
                }
                &.week__btn-next {
                    left: 100%;
                }
            }
        }

        &:not(.week__row--dates):hover {
            & > *,
            &:before {
                color: $c-blue;
            }
        }
    }

    &__day-btn {
        height: 60px;
        padding: 0;
        width: calc(100% - 8px);
        border-radius: 12px;
        transition: background-color .3s;
        transform: translateX(30px);
        font-size: 12px;
        padding-right: 60px;
        margin: 0;
        &:hover {
            background: $c-green;
            color: #fff;
            &:after {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: calc(20% - 1px);
                background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
                background-size: 1px 13%;
            }
        }
    }

    &__day-wrap {
        &[data-status="booked"] > .week__day-btn {
            background: $c-blue-20;
            color: $c-text-light;
            position: relative;
            border-radius: 0;
            &:after {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: calc(20% - 1px);
                background-image: linear-gradient(to bottom, transparent 50%, #C2D4EF 50%);
                background-size: 1px 13%;
            }
        }
        &[data-status="active"] > .week__day-btn {
            background: $c-green;
            color: #fff;
            &:after {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: calc(20% - 1px);
                background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
                background-size: 1px 13%;
            }
        }
        &[data-position="first"] {
            & > .week__day-btn {
                border-radius: 12px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
            }
            & ~ .week__day-wrap[data-status] > .week__day-btn {
                width: 100%;
            }
        }
        &[data-position="last"] > .week__day-btn {
            border-radius: 12px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: calc(100% - 8px)!important;
        }
        &[data-position="single"] > .week__day-btn {
            border-radius: 12px;
            width: calc(100% - 8px)!important;
        }
    }
        
}